$primary: rgba(255, 96, 96, 1);
$secondary: rgba(246, 246, 246, 1);
$white: rgba(255, 255, 255, 1);

$font-size-title--large: 3rem;
$line-height-title--large: 68.45px;
$font-size-title--medium: 2.25rem;
$line-height-title--medium: 51.34rem;
$font-size-title--small: 1.5rem;

$font-size-label--medium: 0.875rem;
$line-height-label--medium: 20px;

$font-size-body--medium: 1.125rem;
$line-height-body--medium: 26px;
$font-size-body--small: 0.75rem;
$line-height-body--small: 12px;

$font-size-nav-link--small: 0.75rem;
$line-height-nav-link--small: 17px;
$font-size-nav-link--large: 1.5rem;
$line-height-nav-link--large: 34px;

$border-radius: 10px;
