$primary: rgba(255, 96, 96, 1);
$secondary: rgba(246, 246, 246, 1);
$white: rgba(255, 255, 255, 1);

$font-size-label--medium: 14px;
$line-height-label--medium: 20px;

$font-size-body--medium: 18px;
$line-height-body--medium: 26px;
$font-size-body--small: 12px;
$line-height-body--small: 12px;

$font-size-nav-link--small: 12px;
$line-height-nav-link--small: 17px;
$font-size-nav-link--large: 24px;
$line-height-nav-link--large: 34px;

$border-radius: 10px;
