@use '../utils/variables';
@use '../utils/mixins';
@use '../utils/breakpoints';

nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  color: $primary;
  font-size: $font-size-nav-link--small;

  @include mediaQuery(map-get($breakpoints, xl), min-width) {
    font-size: $font-size-nav-link--large;
  }
}

.nav-link--active {
  text-decoration: underline;
}
